<div class="dialog-heading">
  <div class="dialog-star" [style.--star-color]="data.color">{{ data.letter }}</div>
  <div>
    <h2 mat-dialog-title>{{ data.letter }} type</h2>
    <p>{{ data.name }}</p>
  </div>
</div>

<mat-dialog-content>
  <dl>
    <div>
      <dt>Temperature</dt>
      <dd>{{ data.temperature }}</dd>
    </div>
  </dl>
  <p>{{ data.description }}</p>
  <p class="examples">{{ data.examples }}</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
